
/*
 http://lea.verou.me/css3patterns/
*/
body {
    background-image:
        -moz-repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        -moz-repeating-linear-gradient(-180deg, transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        -moz-repeating-linear-gradient(-35deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);

    background-image:
        -o-repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        -o-repeating-linear-gradient(-180deg, transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        -o-repeating-linear-gradient(-35deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);

    background-image:
        -webkit-repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        -webkit-repeating-linear-gradient(-180deg, transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        -webkit-repeating-linear-gradient(-35deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);
}

.book {
    width: 80%;
}

.page {
    background-image:
        -moz-linear-gradient(right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 50px),
        -moz-linear-gradient(0deg, transparent 4.8em, rgba(224, 27, 27, .5) 4.8em, rgba(224, 27, 27, .5) 5em, transparent 5em),
        -moz-linear-gradient(#ABCDEF .1em, transparent .1em);
    background-image:
        -o-linear-gradient(right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 50px),
        -o-linear-gradient(0deg, transparent 4.8em, rgba(224, 27, 27, .5) 4.8em, rgba(224, 27, 27, .5) 5em, transparent 5em),
        -o-linear-gradient(#ABCDEF .1em, transparent .1em);
    background-image:
        -webkit-linear-gradient(right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 50px),
        -webkit-linear-gradient(0deg, transparent 4.8em, rgba(224, 27, 27, .5) 4.8em, rgba(224, 27, 27, .5) 5em, transparent 5em),
        -webkit-linear-gradient(#ABCDEF .1em, transparent .1em);
    padding: 1.2em 3em 1.2em 6em;
}

.page + .page{
    background-image:
        -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50px),
        -moz-linear-gradient(0deg, transparent 4.8em, rgba(224, 27, 27, .5) 4.8em, rgba(224, 27, 27, .5) 5em, transparent 5em),
        -moz-linear-gradient(#ABCDEF .1em, transparent .1em);
    background-image:
        -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50px),
        -o-linear-gradient(0deg, transparent 4.8em, rgba(224, 27, 27, .5) 4.8em, rgba(224, 27, 27, .5) 5em, transparent 5em),
        -o-linear-gradient(#ABCDEF .1em, transparent .1em);
    background-image:
        -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50px),
        -webkit-linear-gradient(0deg, transparent 4.8em, rgba(224, 27, 27, .5) 4.8em, rgba(224, 27, 27, .5) 5em, transparent 5em),
        -webkit-linear-gradient(#ABCDEF .1em, transparent .1em);
}
